<ng-outlet ng-init=""></ng-outlet>
<script id="account-wholesalers.tpl" type="text/ng-template">

    <div ng-init="init('{{ shop.id }}', '{{ current_language.culture_name }}', '{{ "/account/register" | absolute_url }}')">
        <h4>{{ 'customer.edit_company_members.title' | t }}</h4>
        <table class="full" ng-if="$ctrl.entries.length">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wholesaler in $ctrl.entries">
                    <td ng-bind="wholesaler.name"></td>
                    <td ng-bind="wholesaler.email"></td>
                    <td ng-bind="wholesaler.phone"></td>
                    <td ng-bind="wholesaler.agreementRequest.status"></td>
                    <td>
                        <span ng-show="$ctrl.showActions(wholesaler)">
                            <a ng-if="wholesaler.agreementRequest.status == 'NotSent'" ng-click="$ctrl.sendAgreement(wholesaler.id)" href="">Send agreement</a>                    
                            <a ng-if="!wholesaler.isActive" ng-click="$ctrl.setActive(wholesaler.id)" href=""> | Set current</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if='$ctrl.pageSettings.totalItems > $ctrl.pageSettings.itemsPerPageCount' ng-include="'pagerTemplate.html'"></div>
        <p ng-if="!$ctrl.entries.length && !$ctrl.loader.isLoading">No wholesalers available</p>       
</script>
