<div class="section-header">
    <h2 class="h1 section-header--left">Log in or create an account</h2>
</div>
<div class="grid-uniform">
    <div class="grid-item small--one-whole medium--one-half large--one-half">
        <h3>New customers</h3>
        <p>
            By creating an account with our store, you will be able to move through the checkout process faster, store multiple addresses, view and track your orders in your account, and more.
        </p>
        <p>
            {{ 'layout.customer.create_account' | t | customer_register_link | replace: 'href', 'class="btn btn-secondary" href' }}
        </p>
    </div>
    <div class="grid-item small--one-whole medium--one-half large--one-half">
        <h3>Registered customers</h3>
        <p>
            Log in if you have an account
        </p>
        {% include 'login' %}
    </div>
</div>
