<script id="storefront.recently-sent-wholesaler-agreement-dialog.tpl" type="text/ng-template">
    <div class="ajaxify-modal is-visible" id="ajaxifyModal" style="opacity: 1;">
        <button class="ajaxifyCart--close" title="{{ 'cart.general.close_cart' | t }}" ng-click="close()">{{ 'cart.general.close_cart' | t }}</button>
        <div class="ajaxifyCart--content" id="ajaxifyCart">
            <h1 class="h2">Agreement successfully sent</h1>
            <div class="cart-row">
                <div class="grid">
                    <div class="grid-item">
                        Your agreement successfully sent to {% raw %}{{ dialogData.wholesaler.name }}{% endraw %}. Please, be patient and wait until administrator approve your request.
                    </div>
                </div>
            </div>
            <div class="cart-row">
                <div class="grid">
                    <div class="grid-item text-right">
                        <button class="btn" ng-click="close()">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ajaxifyCart-overlay"></div>
</script>
